/* line 5, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/layout.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* line 14, ../sass/layout.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 19, ../sass/layout.scss */
body .edui-default .edui-editor-bottomContainer td {
  border-top: 0;
}

/* line 3, ../sass/index.scss */
body {
  background-color: #B0E2FF;
}

/* line 7, ../sass/index.scss */
div.nav {
  width: 100%;
  height: 58px;
  border-top: 2px solid #32a2d5;
  position: fixed;
  top: 0;
  padding: 5px 0;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3), 0 0 6px 2px rgba(0, 0, 0, 0.15);
}
/* line 18, ../sass/index.scss */
div.nav div.nav-box {
  width: 990px;
  margin: 0 auto;
  height: 100%;
}
/* line 23, ../sass/index.scss */
div.nav div.nav-box a {
  color: #808080;
  text-decoration: none;
}
/* line 27, ../sass/index.scss */
div.nav div.nav-box a:hover {
  color: #32a2d5;
}
/* line 32, ../sass/index.scss */
div.nav div.nav-box div.logo {
  background-image: url("/static/images/login/logo.png");
  background-size: 46px 46px;
  width: 46px;
  height: 46px;
  display: inline-block;
  vertical-align: middle;
}
/* line 41, ../sass/index.scss */
div.nav div.nav-box span.logo-txt {
  color: #666;
  display: inline-block;
  font-size: 20px;
  line-height: 40px;
  vertical-align: bottom;
  margin-right: 128px;
}
/* line 50, ../sass/index.scss */
div.nav div.nav-box div.search {
  width: 400px;
  height: 28px;
  display: inline-block;
  position: relative;
  background-color: #f2f2f5;
  border: 1px solid #ccc;
}
/* line 58, ../sass/index.scss */
div.nav div.nav-box div.search input.search-box {
  width: 100%;
  height: 100%;
  padding: 4px 33px 4px 10px;
  background-color: transparent;
  border: medium none;
  box-shadow: none;
  color: #808080;
  outline-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 72, ../sass/index.scss */
div.nav div.nav-box div.search a.search-icon {
  font-size: 18px;
  line-height: 26px;
  position: absolute;
  right: 5px;
  width: 20px;
}
/* line 81, ../sass/index.scss */
div.nav div.nav-box div.nav-item {
  display: inline-block;
  float: right;
  margin-right: 15px;
}
/* line 86, ../sass/index.scss */
div.nav div.nav-box div.nav-item a {
  display: inline-block;
  height: 46px;
  line-height: 46px;
  text-align: center;
  width: 95px;
}
/* line 93, ../sass/index.scss */
div.nav div.nav-box div.nav-item a span {
  font-size: 14px;
}
/* line 96, ../sass/index.scss */
div.nav div.nav-box div.nav-item a span.icon {
  height: 46px;
  line-height: 46px;
  text-align: left;
  width: 13px;
}

/* line 108, ../sass/index.scss */
div.container-box {
  width: 1000px;
  margin: 70px auto 0;
}
/* line 112, ../sass/index.scss */
div.container-box div.cont-left {
  padding: 0 5px;
  margin-bottom: 20px;
}
/* line 116, ../sass/index.scss */
div.container-box div.cont-left div.editor {
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 27px 20px 40px;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 124, ../sass/index.scss */
div.container-box div.cont-left div.editor div.text-editor {
  width: 100%;
  margin: 0 auto 20px;
}
/* line 129, ../sass/index.scss */
div.container-box div.cont-left div.editor a.publish {
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  font-size: 12px;
  line-height: 26px;
  margin-bottom: 20px;
  position: absolute;
  right: 20px;
  bottom: 0;
  width: 62px;
  height: 26px;
  color: #fff;
  background-color: #ff8140;
  border: 1px solid #f77c3d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  outline: none;
}
/* line 148, ../sass/index.scss */
div.container-box div.cont-left div.editor a.publish:hover {
  background-color: #eb7350;
}
/* line 156, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item {
  margin-bottom: 10px;
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
/* line 163, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-top {
  padding: 20px 20px 10px;
}
/* line 166, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-top div.user-head {
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}
/* line 173, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-top div.user-head img.head-img {
  width: 100%;
  height: 100%;
}
/* line 179, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-top div.item-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  width: 535px;
  line-height: 20px;
}
/* line 186, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-top div.item-info div.user-name {
  font-size: 14px;
}
/* line 190, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-top div.item-info div.create-time {
  color: #808080;
  font-size: 12px;
}
/* line 195, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-top div.item-info p {
  word-break: break-all;
}
/* line 201, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-botm {
  width: 100%;
  height: 36px;
  border-top: 1px solid #f2f2f5;
  border-bottom: 1px solid #f2f2f5;
  position: relative;
}
/* line 208, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-botm a {
  color: #808080;
  display: inline-block;
  font-size: 12px;
  height: 100%;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  width: 48.5%;
  outline: none;
}
/* line 219, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-botm a span.icon {
  margin-right: 5px;
}
/* line 223, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-botm a:hover {
  color: #32a2d5;
}
/* line 227, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-botm a.active {
  color: #32a2d5;
}
/* line 232, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-botm span.cut {
  background-color: #d9d9d9;
  display: inline-block;
  width: 1px;
  height: 22px;
  vertical-align: middle;
}
/* line 241, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list {
  position: relative;
  padding: 20px;
  background-color: #f2f2f5;
  display: none;
}
/* line 247, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list span.triangle {
  position: absolute;
  top: -15px;
  left: 173px;
  color: #f2f2f5;
  margin: 1px 0 0 -14px;
  border-style: solid;
  border-width: 7px;
  display: inline-block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  vertical-align: top;
  width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}
/* line 267, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-left {
  display: inline-block;
  width: 60px;
  text-align: center;
}
/* line 272, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-left img.head {
  width: 30px;
  height: 30px;
}
/* line 278, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  width: 530px;
}
/* line 284, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.add-comment {
  padding-bottom: 60px;
  position: relative;
}
/* line 288, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.add-comment textarea.text {
  width: 100%;
  resize: none;
  border: 1px solid #d9d9d9;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  outline: medium none;
  padding: 5px 2px 0 6px;
  word-wrap: break-word;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15) inset;
  vertical-align: middle;
}
/* line 302, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.add-comment textarea.text.onfocus {
  border: 1px solid #eb7350;
}
/* line 306, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.add-comment a.comment-btn {
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  font-size: 12px;
  line-height: 26px;
  margin-bottom: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 62px;
  height: 26px;
  color: #fff;
  background-color: #ff8140;
  border: 1px solid #f77c3d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  outline: none;
}
/* line 325, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.add-comment a.comment-btn:hover {
  background-color: #eb7350;
}
/* line 331, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.fri-comment {
  padding-bottom: 5px;
  border-top: 1px solid #d9d9d9;
}
/* line 335, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.fri-comment:first-child {
  padding-top: 15px;
}
/* line 338, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.fri-comment:not(:first-child) {
  padding-top: 10px;
}
/* line 342, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.fri-comment img.head {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: top;
  float: left;
}
/* line 351, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.fri-comment div.info-box {
  display: inline-block;
  width: 485px;
  font-size: 12px;
  line-height: 20px;
  color: #333;
}
/* line 358, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.fri-comment div.info-box span.text {
  display: block;
  width: 100%;
  word-break: break-all;
}
/* line 363, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.fri-comment div.info-box span.text span.fir-name {
  color: #32a2d5;
}
/* line 368, ../sass/index.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.fri-comment div.info-box span.create-time {
  color: #808080;
}
/* line 379, ../sass/index.scss */
div.container-box div.cont-rit {
  padding: 0 5px;
  margin-bottom: 20px;
}
/* line 383, ../sass/index.scss */
div.container-box div.cont-rit div.personal {
  background-color: #fff;
  margin-bottom: 10px;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
/* line 390, ../sass/index.scss */
div.container-box div.cont-rit div.personal img.background-img {
  width: 100%;
  height: 75px;
}
/* line 395, ../sass/index.scss */
div.container-box div.cont-rit div.personal div.head-box {
  width: 65px;
  height: 65px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  border: 3px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 30px;
  left: 128px;
}
/* line 406, ../sass/index.scss */
div.container-box div.cont-rit div.personal div.head-box img.user-head {
  width: 100%;
  height: 100%;
}
/* line 412, ../sass/index.scss */
div.container-box div.cont-rit div.personal span.user-name {
  display: block;
  color: #333;
  width: 100%;
  text-align: center;
  cont-size: 14px;
  margin-top: 20px;
  line-height: 16px;
  font-weight: bold;
}
/* line 423, ../sass/index.scss */
div.container-box div.cont-rit div.personal div.info {
  width: 100%;
  padding: 9px 16px;
}
/* line 427, ../sass/index.scss */
div.container-box div.cont-rit div.personal div.info div.item {
  width: 31%;
  display: inline-block;
}
/* line 431, ../sass/index.scss */
div.container-box div.cont-rit div.personal div.info div.item:not(:last-child) {
  border-right: 1px solid #d9d9d9;
}
/* line 435, ../sass/index.scss */
div.container-box div.cont-rit div.personal div.info div.item a {
  text-decoration: none;
  outline: none;
}
/* line 439, ../sass/index.scss */
div.container-box div.cont-rit div.personal div.info div.item a span {
  display: block;
  width: 100%;
  text-align: center;
}
/* line 444, ../sass/index.scss */
div.container-box div.cont-rit div.personal div.info div.item a span.num {
  color: #333;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}
/* line 451, ../sass/index.scss */
div.container-box div.cont-rit div.personal div.info div.item a span.text {
  color: #808080;
  font-size: 12px;
  line-height: 14px;
}
/* line 460, ../sass/index.scss */
div.container-box div.cont-rit div.personal div.info div.item a:hover span {
  color: #32a2d5;
}
/* line 469, ../sass/index.scss */
div.container-box div.cont-rit div.notice {
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 473, ../sass/index.scss */
div.container-box div.cont-rit div.notice span.head {
  display: block;
  width: 100%;
  height: 42px;
  font-size: 14px;
  line-height: 42px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #d9d9d9;
}
/* line 484, ../sass/index.scss */
div.container-box div.cont-rit div.notice div.notice-box {
  width: 100%;
  padding: 16px;
}
/* line 488, ../sass/index.scss */
div.container-box div.cont-rit div.notice div.notice-box a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #32a2d5;
}
/* line 494, ../sass/index.scss */
div.container-box div.cont-rit div.notice div.notice-box a:hover {
  color: #32a2d5;
}
/* line 498, ../sass/index.scss */
div.container-box div.cont-rit div.notice div.notice-box a span {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
/* line 507, ../sass/index.scss */
div.container-box div.cont-rit div.game {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
/* line 514, ../sass/index.scss */
div.container-box div.cont-rit div.game object {
  margin: 0 auto;
}

/* line 521, ../sass/index.scss */
a.to-top {
  display: block;
  text-decoration: none;
  outline: none;
  with: 45px;
  height: 45px;
  opacity: 0.6;
  bottom: 30px;
  right: 60px;
  position: fixed;
  background-color: #60a6c6;
}
/* line 533, ../sass/index.scss */
a.to-top span.top-icon {
  color: #fff;
  display: block;
  font-size: 24px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  width: 45px;
}
/* line 543, ../sass/index.scss */
a.to-top:hover {
  opacity: 1;
}

/* line 549, ../sass/index.scss */
ul.pagination {
  width: 100%;
  text-align: center;
}
/* line 553, ../sass/index.scss */
ul.pagination li {
  display: inline-block;
}
/* line 556, ../sass/index.scss */
ul.pagination li a {
  background-color: transparent;
  cursor: default;
  border: none;
  color: #23527c;
}
/* line 562, ../sass/index.scss */
ul.pagination li a:hover {
  background-color: transparent;
}
/* line 566, ../sass/index.scss */
ul.pagination li a.arrow {
  width: 35px;
}
/* line 569, ../sass/index.scss */
ul.pagination li a.arrow:hover {
  color: #fff;
  cursor: pointer;
}
/* line 576, ../sass/index.scss */
ul.pagination li.goto {
  height: 34px;
  margin-left: 20px;
}
/* line 580, ../sass/index.scss */
ul.pagination li.goto input {
  width: 70px;
}
/* line 584, ../sass/index.scss */
ul.pagination li.goto button {
  width: 80px;
  height: 26px;
  margin-left: 20px;
  font-size: 14px;
}

/* line 594, ../sass/index.scss */
div.hot-blog {
  position: absolute;
  top: 18px;
  right: 30px;
}
/* line 599, ../sass/index.scss */
div.hot-blog span {
  color: #ff8140;
  font-size: 20px;
  height: 22px;
  line-height: 22px;
}
