/* line 5, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/layout.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* line 14, ../sass/layout.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 19, ../sass/layout.scss */
body .edui-default .edui-editor-bottomContainer td {
  border-top: 0;
}

/* line 3, ../sass/login.scss */
div.container-box {
  width: 100%;
}
/* line 6, ../sass/login.scss */
div.container-box div.header {
  width: 100%;
  height: 88px;
  padding: 10px 30px 0;
  vertical-align: middle;
  border-bottom: 2px solid #32a2d5;
}
/* line 13, ../sass/login.scss */
div.container-box div.header img {
  width: 70px;
  height: 70px;
  display: inline-block;
}
/* line 19, ../sass/login.scss */
div.container-box div.header span.logo-txt {
  color: #666;
  display: inline-block;
  font-size: 20px;
  line-height: 40px;
  vertical-align: bottom;
}
/* line 28, ../sass/login.scss */
div.container-box div.content {
  width: 100%;
  height: 550px;
  position: relative;
}
/* line 33, ../sass/login.scss */
div.container-box div.content div.login-box {
  position: absolute;
  right: 440px;
  top: 120px;
  width: 355px;
  padding: 15px 25px 30px;
  color: #6c6c6c;
  font-family: Microsoft YaHei;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #f2f2f5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 45, ../sass/login.scss */
div.container-box div.content div.login-box span.tit-text {
  color: #3c3c3c;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 9px 0;
  padding-bottom: 8px;
  text-align: center;
}
/* line 56, ../sass/login.scss */
div.container-box div.content div.login-box div.input-box {
  width: 100%;
}
/* line 59, ../sass/login.scss */
div.container-box div.content div.login-box div.input-box div.form-group {
  margin-top: 20px;
  width: 100%;
  height: 42px;
  position: relative;
}
/* line 65, ../sass/login.scss */
div.container-box div.content div.login-box div.input-box div.form-group img {
  width: 40px;
  height: 40px;
  position: absolute;
}
/* line 71, ../sass/login.scss */
div.container-box div.content div.login-box div.input-box div.form-group label {
  width: 60px;
  padding: 7px 10px 0px;
}
/* line 76, ../sass/login.scss */
div.container-box div.content div.login-box div.input-box div.form-group div.col-sm-10 {
  width: 240px;
}
/* line 79, ../sass/login.scss */
div.container-box div.content div.login-box div.input-box div.form-group div.col-sm-10 input {
  font-size: 14px;
  height: 40px;
  line-height: 18px;
  padding: 11px;
  border: 1px solid #ddd;
  width: 100%;
}
/* line 92, ../sass/login.scss */
div.container-box div.content div.login-box div.input-box div.form-group.password-again label {
  padding: 7px 0;
  width: 65px;
}
/* line 97, ../sass/login.scss */
div.container-box div.content div.login-box div.input-box div.form-group.password-again div {
  padding-left: 10px;
  padding-right: 0;
  width: 222px;
}
/* line 105, ../sass/login.scss */
div.container-box div.content div.login-box button.login-btn {
  background: #f40 none repeat scroll 0 0;
  border: 0 none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  height: 38px;
  line-height: 26px;
  overflow: hidden;
  vertical-align: middle;
  width: 210px;
  margin: 20px 0 20px 60px;
  letter-spacing: 10px;
}
/* line 123, ../sass/login.scss */
div.container-box div.content div.login-box a.register-link {
  color: #6c6c6c;
  text-decoration: none;
}
/* line 126, ../sass/login.scss */
div.container-box div.content div.login-box a.register-link :hover {
  color: #f40;
}
/* line 129, ../sass/login.scss */
div.container-box div.content div.login-box a.register-link span.register {
  display: block;
  font-size: 12px;
  line-height: 14px;
  float: right;
  margin-right: 30px;
  margin-top: 15px;
}
/* line 141, ../sass/login.scss */
div.container-box div.content div.login-box.register-box {
  top: 25px;
}
/* line 148, ../sass/login.scss */
div.container-box div.content div.login-box.register-box div.input-box div.box-item span {
  font-size: 13px;
  line-height: 40px;
}
/* line 153, ../sass/login.scss */
div.container-box div.content div.login-box.register-box div.input-box div.box-item input.text {
  padding: 11px 27px 11px 11px;
  width: 255px;
  position: absolute;
  right: 0;
}
/* line 160, ../sass/login.scss */
div.container-box div.content div.login-box.register-box div.input-box div.box-item input.sex {
  display: inline-block;
  width: 20px;
  height: 17px;
  margin: 0 0 0 30px;
  vertical-align: middle;
}
/* line 172, ../sass/login.scss */
div.container-box div.content div.login-box.register-box div.input-box div.box-item.password-again span {
  position: absolute;
  left: -20px;
}
/* line 178, ../sass/login.scss */
div.container-box div.content div.login-box.register-box div.input-box div.box-item.sex, div.container-box div.content div.login-box.register-box div.input-box div.box-item.phone {
  margin-top: 10px;
}
/* line 185, ../sass/login.scss */
div.container-box div.content.error-page {
  background: none;
  height: 520px;
}
/* line 189, ../sass/login.scss */
div.container-box div.content.error-page div.error-box {
  position: absolute;
  top: 60px;
  right: 440px;
  margin: 0 auto;
  width: 400px;
  padding: 40px 25px 30px;
  color: #6c6c6c;
  font-family: Microsoft YaHei;
}
/* line 199, ../sass/login.scss */
div.container-box div.content.error-page div.error-box h1 {
  font-size: 24px;
  color: #666;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 209, ../sass/login.scss */
div.container-box div.content.error-page div.error-box div.error-img {
  margin-top: 45px;
}
/* line 212, ../sass/login.scss */
div.container-box div.content.error-page div.error-box div.error-img img {
  display: block;
  margin: 0 auto;
  width: 200px;
}
/* line 222, ../sass/login.scss */
div.container-box div.footer {
  text-align: center;
  margin: 30px auto;
}
/* line 226, ../sass/login.scss */
div.container-box div.footer span {
  display: block;
  color: #9c9c9c;
  font-size: 12px;
}
