/* line 5, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/layout.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* line 14, ../sass/layout.scss */
a {
  text-decoration: none;
}

/* line 3, ../sass/login.scss */
div.container-box {
  width: 100%;
}
/* line 6, ../sass/login.scss */
div.container-box div.header {
  width: 100%;
  height: 88px;
  padding: 10px 30px 0;
  vertical-align: middle;
}
/* line 12, ../sass/login.scss */
div.container-box div.header img {
  width: 70px;
  height: 70px;
  display: inline-block;
}
/* line 18, ../sass/login.scss */
div.container-box div.header span.logo-txt {
  color: #666;
  display: inline-block;
  font-size: 20px;
  line-height: 40px;
  vertical-align: bottom;
}
/* line 27, ../sass/login.scss */
div.container-box div.content {
  width: 100%;
  height: 600px;
  position: relative;
  background: url("../../images/login/login_backg.jpg") no-repeat center center;
}
/* line 33, ../sass/login.scss */
div.container-box div.content div.login-box {
  position: absolute;
  right: 60px;
  top: 120px;
  width: 350px;
  padding: 15px 25px 30px;
  color: #6c6c6c;
  font-family: Microsoft YaHei;
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 43, ../sass/login.scss */
div.container-box div.content div.login-box span.tit-text {
  color: #3c3c3c;
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 9px 0;
  padding-bottom: 8px;
  text-align: center;
}
/* line 54, ../sass/login.scss */
div.container-box div.content div.login-box div.input-box {
  width: 100%;
}
/* line 57, ../sass/login.scss */
div.container-box div.content div.login-box div.input-box div.form-group {
  margin-top: 20px;
  width: 100%;
  height: 42px;
  position: relative;
}
/* line 63, ../sass/login.scss */
div.container-box div.content div.login-box div.input-box div.form-group img {
  width: 40px;
  height: 40px;
  position: absolute;
}
/* line 69, ../sass/login.scss */
div.container-box div.content div.login-box div.input-box div.form-group label {
  width: 60px;
}
/* line 73, ../sass/login.scss */
div.container-box div.content div.login-box div.input-box div.form-group label.password-again {
  padding: 7px 0;
}
/* line 77, ../sass/login.scss */
div.container-box div.content div.login-box div.input-box div.form-group div.col-sm-10 {
  width: 240px;
}
/* line 80, ../sass/login.scss */
div.container-box div.content div.login-box div.input-box div.form-group div.col-sm-10 input {
  font-size: 14px;
  height: 40px;
  line-height: 18px;
  padding: 11px;
  border: 1px solid #ddd;
  width: 100%;
}
/* line 92, ../sass/login.scss */
div.container-box div.content div.login-box button.login-btn {
  background: #f40 none repeat scroll 0 0;
  border: 0 none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  height: 38px;
  line-height: 26px;
  overflow: hidden;
  vertical-align: middle;
  width: 210px;
  margin: 20px 0 20px 60px;
  letter-spacing: 10px;
}
/* line 110, ../sass/login.scss */
div.container-box div.content div.login-box a.register-link {
  color: #6c6c6c;
  text-decoration: none;
}
/* line 113, ../sass/login.scss */
div.container-box div.content div.login-box a.register-link :hover {
  color: #f40;
}
/* line 116, ../sass/login.scss */
div.container-box div.content div.login-box a.register-link span.register {
  display: block;
  font-size: 12px;
  line-height: 14px;
  float: right;
  margin-right: 30px;
}
/* line 127, ../sass/login.scss */
div.container-box div.content div.login-box.register-box {
  top: 25px;
}
/* line 134, ../sass/login.scss */
div.container-box div.content div.login-box.register-box div.input-box div.box-item span {
  font-size: 13px;
  line-height: 40px;
}
/* line 139, ../sass/login.scss */
div.container-box div.content div.login-box.register-box div.input-box div.box-item input.text {
  padding: 11px 27px 11px 11px;
  width: 255px;
  position: absolute;
  right: 0;
}
/* line 146, ../sass/login.scss */
div.container-box div.content div.login-box.register-box div.input-box div.box-item input.sex {
  display: inline-block;
  width: 20px;
  height: 17px;
  margin: 0 0 0 30px;
  vertical-align: middle;
}
/* line 158, ../sass/login.scss */
div.container-box div.content div.login-box.register-box div.input-box div.box-item.password-again span {
  position: absolute;
  left: -20px;
}
/* line 164, ../sass/login.scss */
div.container-box div.content div.login-box.register-box div.input-box div.box-item.sex, div.container-box div.content div.login-box.register-box div.input-box div.box-item.phone {
  margin-top: 10px;
}
/* line 171, ../sass/login.scss */
div.container-box div.footer {
  text-align: center;
  margin: 30px auto;
}
/* line 175, ../sass/login.scss */
div.container-box div.footer span {
  display: block;
  color: #9c9c9c;
  font-size: 12px;
}
