/* line 5, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/layout.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* line 14, ../sass/layout.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 19, ../sass/layout.scss */
body .edui-default .edui-editor-bottomContainer td {
  border-top: 0;
}

/* line 3, ../sass/personal.scss */
body {
  background-color: #B0E2FF;
}

/* line 8, ../sass/personal.scss */
div.modal div.modal-dialog {
  width: 650px;
}
/* line 12, ../sass/personal.scss */
div.modal div.modal-dialog div.modal-footer a.publish {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
  line-height: 33px;
  right: 20px;
  bottom: 0;
  width: 55px;
  height: 33px;
  color: #fff;
  background-color: #ff8140;
  border: 1px solid #f77c3d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  outline: none;
}
/* line 30, ../sass/personal.scss */
div.modal div.modal-dialog div.modal-footer a.publish:hover {
  background-color: #eb7350;
}

/* line 38, ../sass/personal.scss */
div.nav {
  width: 100%;
  height: 58px;
  border-top: 2px solid #32a2d5;
  position: fixed;
  top: 0;
  padding: 5px 0;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3), 0 0 6px 2px rgba(0, 0, 0, 0.15);
}
/* line 49, ../sass/personal.scss */
div.nav div.nav-box {
  width: 990px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
/* line 55, ../sass/personal.scss */
div.nav div.nav-box a.public-news {
  text-decoration: none;
  outline: none;
  display: block;
  position: absolute;
  right: -43px;
  top: 13px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  background-color: #ff8140;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
/* line 67, ../sass/personal.scss */
div.nav div.nav-box a.public-news:hover {
  background-color: #eb7350;
}
/* line 72, ../sass/personal.scss */
div.nav div.nav-box a.public-news span.public {
  display: block;
  font-size: 17px;
  line-height: 22px;
  height: 25px;
  width: 26px;
  color: #fff;
  text-align: center;
}
/* line 83, ../sass/personal.scss */
div.nav div.nav-box a {
  color: #808080;
  text-decoration: none;
}
/* line 87, ../sass/personal.scss */
div.nav div.nav-box a:hover {
  color: #32a2d5;
}
/* line 92, ../sass/personal.scss */
div.nav div.nav-box div.logo {
  background-image: url("/static/images/login/logo.png");
  background-size: 46px 46px;
  width: 46px;
  height: 46px;
  display: inline-block;
  vertical-align: middle;
}
/* line 101, ../sass/personal.scss */
div.nav div.nav-box span.logo-txt {
  color: #666;
  display: inline-block;
  font-size: 20px;
  line-height: 40px;
  vertical-align: bottom;
  margin-right: 128px;
}
/* line 110, ../sass/personal.scss */
div.nav div.nav-box div.search {
  width: 400px;
  height: 28px;
  display: inline-block;
  position: relative;
  background-color: #f2f2f5;
  border: 1px solid #ccc;
}
/* line 118, ../sass/personal.scss */
div.nav div.nav-box div.search input.search-box {
  width: 100%;
  height: 100%;
  padding: 4px 33px 4px 10px;
  background-color: transparent;
  border: medium none;
  box-shadow: none;
  color: #808080;
  outline-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 132, ../sass/personal.scss */
div.nav div.nav-box div.search a.search-icon {
  font-size: 18px;
  line-height: 26px;
  position: absolute;
  right: 5px;
  width: 20px;
}
/* line 141, ../sass/personal.scss */
div.nav div.nav-box div.nav-item {
  display: inline-block;
  float: right;
  margin-right: 15px;
}
/* line 146, ../sass/personal.scss */
div.nav div.nav-box div.nav-item a {
  display: inline-block;
  height: 46px;
  line-height: 46px;
  text-align: center;
  width: 95px;
}
/* line 153, ../sass/personal.scss */
div.nav div.nav-box div.nav-item a span {
  font-size: 14px;
}
/* line 156, ../sass/personal.scss */
div.nav div.nav-box div.nav-item a span.icon {
  height: 46px;
  line-height: 46px;
  text-align: left;
  width: 13px;
}

/* line 168, ../sass/personal.scss */
div.container-box {
  width: 1000px;
  margin: 70px auto 0;
}
/* line 172, ../sass/personal.scss */
div.container-box div.cont-top {
  width: 100%;
  height: 300px;
  padding: 0 5px;
  margin-bottom: 10px;
  position: relative;
}
/* line 179, ../sass/personal.scss */
div.container-box div.cont-top img.background-img {
  width: 100%;
  height: 300px;
  opacity: 0.9;
}
/* line 185, ../sass/personal.scss */
div.container-box div.cont-top div.head-box {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  border: 3px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 70px;
  left: 450px;
}
/* line 196, ../sass/personal.scss */
div.container-box div.cont-top div.head-box img.user-head {
  width: 100%;
  height: 100%;
}
/* line 202, ../sass/personal.scss */
div.container-box div.cont-top span.user-name {
  display: block;
  font-size: 26px;
  width: 990px;
  height: 30px;
  text-align: center;
  margin-top: 20px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  bottom: 85px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
/* line 218, ../sass/personal.scss */
div.container-box div.cont-top span.introduction {
  display: block;
  font-size: 14px;
  width: 100%;
  padding: 0 180px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  position: absolute;
  top: 220px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
/* line 231, ../sass/personal.scss */
div.container-box div.cont-top div.follow-box {
  position: absolute;
  bottom: 35px;
  width: 100%;
  height: 30px;
}
/* line 237, ../sass/personal.scss */
div.container-box div.cont-top div.follow-box a.follow {
  text-decoration: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 6px;
  display: block;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 0 auto;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  background-color: #ff8140;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
/* line 254, ../sass/personal.scss */
div.container-box div.cont-top div.follow-box a.follow:hover {
  background-color: #eb7350;
}
/* line 261, ../sass/personal.scss */
div.container-box div.cont-left {
  padding: 0 5px;
  margin-bottom: 20px;
}
/* line 265, ../sass/personal.scss */
div.container-box div.cont-left div.editor {
  display: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 27px 20px 40px;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 274, ../sass/personal.scss */
div.container-box div.cont-left div.editor div.text-editor {
  width: 100%;
  margin: 0 auto 20px;
}
/* line 279, ../sass/personal.scss */
div.container-box div.cont-left div.editor a.publish {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  font-size: 12px;
  line-height: 26px;
  margin-bottom: 20px;
  position: absolute;
  right: 100px;
  bottom: 0;
  width: 62px;
  height: 26px;
  color: #fff;
  background-color: #ff8140;
  border: 1px solid #f77c3d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  outline: none;
}
/* line 298, ../sass/personal.scss */
div.container-box div.cont-left div.editor a.publish:hover {
  background-color: #eb7350;
}
/* line 302, ../sass/personal.scss */
div.container-box div.cont-left div.editor a.publish.close {
  right: 25px;
  color: #333;
  background-color: #fff;
  border: 1px solid #666;
}
/* line 313, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item {
  margin-bottom: 10px;
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
/* line 320, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item a.dele-news {
  display: block;
  width: 50px;
  height: 24px;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  color: #333;
  outline: none;
  text-decoration: none;
  position: absolute;
  top: 25px;
  right: 15px;
}
/* line 334, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item a.dele-news:hover {
  color: #32a2d5;
}
/* line 339, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-top {
  padding: 20px 20px 10px;
}
/* line 342, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-top div.user-head {
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}
/* line 349, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-top div.user-head img.head-img {
  width: 100%;
  height: 100%;
}
/* line 355, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-top div.item-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  width: 535px;
  line-height: 20px;
}
/* line 362, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-top div.item-info div.user-name {
  font-size: 14px;
}
/* line 366, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-top div.item-info div.create-time {
  color: #808080;
  font-size: 12px;
}
/* line 371, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-top div.item-info p {
  word-break: break-all;
}
/* line 377, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-botm {
  width: 100%;
  height: 36px;
  border-top: 1px solid #f2f2f5;
  border-bottom: 1px solid #f2f2f5;
  position: relative;
}
/* line 384, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-botm a {
  color: #808080;
  display: inline-block;
  font-size: 12px;
  height: 100%;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  width: 48.5%;
  outline: none;
}
/* line 395, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-botm a span.icon {
  margin-right: 5px;
}
/* line 399, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-botm a:hover {
  color: #32a2d5;
}
/* line 403, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-botm a.active {
  color: #32a2d5;
}
/* line 408, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.item-botm span.cut {
  background-color: #d9d9d9;
  display: inline-block;
  width: 1px;
  height: 22px;
  vertical-align: middle;
}
/* line 417, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list {
  position: relative;
  padding: 20px;
  background-color: #f2f2f5;
  display: none;
}
/* line 423, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list span.triangle {
  position: absolute;
  top: -15px;
  left: 173px;
  color: #f2f2f5;
  margin: 1px 0 0 -14px;
  border-style: solid;
  border-width: 7px;
  display: inline-block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  vertical-align: top;
  width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}
/* line 443, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-left {
  display: inline-block;
  width: 60px;
  text-align: center;
}
/* line 448, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-left img.head {
  width: 30px;
  height: 30px;
}
/* line 454, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  width: 530px;
}
/* line 460, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.add-comment {
  padding-bottom: 60px;
  position: relative;
}
/* line 464, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.add-comment textarea.text {
  width: 100%;
  resize: none;
  border: 1px solid #d9d9d9;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  outline: medium none;
  padding: 5px 2px 0 6px;
  word-wrap: break-word;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15) inset;
  vertical-align: middle;
}
/* line 478, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.add-comment textarea.text.onfocus {
  border: 1px solid #eb7350;
}
/* line 482, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.add-comment a.comment-btn {
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  font-size: 12px;
  line-height: 26px;
  margin-bottom: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 62px;
  height: 26px;
  color: #fff;
  background-color: #ff8140;
  border: 1px solid #f77c3d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  outline: none;
}
/* line 501, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.add-comment a.comment-btn:hover {
  background-color: #eb7350;
}
/* line 507, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.fri-comment {
  padding-bottom: 5px;
  border-top: 1px solid #d9d9d9;
}
div.container-box a img{
  float: left;
}
/* line 511, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.fri-comment:first-child {
  padding-top: 15px;
}
/* line 514, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.fri-comment:not(:first-child) {
  padding-top: 10px;
}
/* line 518, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.fri-comment img.head {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: top;
}
/* line 526, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.fri-comment div.info-box {
  display: inline-block;
  width: 485px;
  font-size: 12px;
  line-height: 20px;
  color: #333;
}
/* line 533, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.fri-comment div.info-box span.text {
  display: block;
  width: 100%;
  word-break: break-all;
}
/* line 538, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.fri-comment div.info-box span.text span.fir-name {
  color: #32a2d5;
}
/* line 543, ../sass/personal.scss */
div.container-box div.cont-left div.fri-news div.news-item div.comment-list div.comment-rit div.fri-comment div.info-box span.create-time {
  color: #808080;
}
/* line 553, ../sass/personal.scss */
div.container-box div.cont-left div.fri-list {
  padding: 10px 20px 20px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 560, ../sass/personal.scss */
div.container-box div.cont-left div.fri-list.follow-list, div.container-box div.cont-left div.fri-list.fans-list {
  display: none;
}
/* line 564, ../sass/personal.scss */
div.container-box div.cont-left div.fri-list span.title {
  display: block;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #f2f2f5;
  font-size: 16px;
  color: #333;
  line-height: 40px;
  font-weight: bold;
}
/* line 575, ../sass/personal.scss */
div.container-box div.cont-left div.fri-list div.item {
  width: 100%;
  padding: 20px 0;
}
/* line 579, ../sass/personal.scss */
div.container-box div.cont-left div.fri-list div.item:not(:last-child) {
  border-bottom: 1px solid #f2f2f5;
}
/* line 583, ../sass/personal.scss */
div.container-box div.cont-left div.fri-list div.item div.img-box {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: top;
}
/* line 592, ../sass/personal.scss */
div.container-box div.cont-left div.fri-list div.item div.img-box img.head {
  width: 50px;
  height: 50px;
}
/* line 598, ../sass/personal.scss */
div.container-box div.cont-left div.fri-list div.item div.info {
  display: inline-block;
  width: 545px;
}
/* line 602, ../sass/personal.scss */
div.container-box div.cont-left div.fri-list div.item div.info span.name {
  display: block;
  font-size: 14px;
  color: #333;
  height: 25px;
  line-height: 25px;
  margin-bottom: 5px;
  font-weight: bold;
}
/* line 612, ../sass/personal.scss */
div.container-box div.cont-left div.fri-list div.item div.info div.num-box {
  width: 100%;
  height: 20px;
}
/* line 616, ../sass/personal.scss */
div.container-box div.cont-left div.fri-list div.item div.info div.num-box span {
  font-size: 12px;
  color: #333;
}
/* line 620, ../sass/personal.scss */
div.container-box div.cont-left div.fri-list div.item div.info div.num-box span.num-item {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding-right: 15px;
}
/* line 626, ../sass/personal.scss */
div.container-box div.cont-left div.fri-list div.item div.info div.num-box span.num-item:not(:first-child) {
  padding-left: 15px;
}
/* line 630, ../sass/personal.scss */
div.container-box div.cont-left div.fri-list div.item div.info div.num-box span.num-item:not(:last-child) {
  border-right: 1px solid #f2f2f5;
}
/* line 635, ../sass/personal.scss */
div.container-box div.cont-left div.fri-list div.item div.info div.num-box span.num {
  color: #32a2d5;
}
/* line 641, ../sass/personal.scss */
div.container-box div.cont-left div.fri-list div.item div.info div.introduction {
  width: 100%;
  margin-top: 8px;
  font-size: 12px;
  line-height: 20px;
  color: #808080;
}
/* line 648, ../sass/personal.scss */
div.container-box div.cont-left div.fri-list div.item div.info div.introduction span.intro {
  color: #333;
}
/* line 657, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info {
  padding: 10px 20px 20px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  display: none;
}
/* line 666, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info span.title {
  display: block;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #f2f2f5;
  font-size: 16px;
  color: #333;
  line-height: 40px;
  font-weight: bold;
}
/* line 677, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info div.item-box {
  width: 100%;
  padding: 30px 20px;
}
/* line 681, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info div.item-box form {
  position: relative;
  padding-bottom: 40px;
}
/* line 685, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info div.item-box form.head-form {
  padding-bottom: 0;
}
/* line 688, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info div.item-box form.head-form button.btn-item {
  bottom: 25px;
}
/* line 693, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info div.item-box form:not(:last-child) {
  border-bottom: 2px solid #f2f2f5;
}
/* line 697, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info div.item-box form:not(:first-child) {
  padding-top: 20px;
}
/* line 701, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info div.item-box form button.btn-item {
  position: absolute;
  right: 90px;
  bottom: 13px;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  width: 50px;
  float: right;
}
/* line 713, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info div.item-box div.item.fixed {
  height: 50px;
}
/* line 717, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info div.item-box div.item {
  width: 100%;
  vertical-align: middle;
}
/* line 721, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info div.item-box div.item span.tit {
  color: #808080;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 1px;
  margin-right: 20px;
  text-align: right;
  width: 75px;
}
/* line 731, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info div.item-box div.item span.email {
  display: inline-block;
  width: 300px;
  color: #333;
  height: 35px;
  padding: 4px 33px 4px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 741, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info div.item-box div.item input {
  display: inline-block;
}
/* line 744, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info div.item-box div.item input.edit {
  width: 400px;
  color: #333;
  height: 35px;
  outline-style: none;
  padding: 4px 33px 4px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 755, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info div.item-box div.item label {
  width: 100px;
}
/* line 758, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info div.item-box div.item label input {
  margin-right: 10px;
}
/* line 763, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info div.item-box div.item textarea.introduction {
  width: 400px;
  height: 70px;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  outline: medium none;
  resize: none;
  vertical-align: middle;
  word-wrap: break-word;
  padding: 4px 10px;
}
/* line 776, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info div.item-box div.item.sex {
  line-height: 40px;
}
/* line 780, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info div.item-box div.item.introduction {
  height: 70px;
}
/* line 783, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info div.item-box div.item.introduction span.tit {
  vertical-align: top;
  margin-top: 10px;
}
/* line 791, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info a.edit-btn {
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  font-size: 12px;
  line-height: 30px;
  margin-bottom: 20px;
  position: absolute;
  right: 265px;
  bottom: 5px;
  width: 100px;
  height: 30px;
  color: #fff;
  background-color: #ff8140;
  border: 1px solid #f77c3d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  outline: none;
}
/* line 810, ../sass/personal.scss */
div.container-box div.cont-left div.edit-per-info a.edit-btn:hover {
  background-color: #eb7350;
}
/* line 817, ../sass/personal.scss */
div.container-box div.cont-rit {
  padding: 0 5px;
  margin-bottom: 20px;
}
/* line 821, ../sass/personal.scss */
div.container-box div.cont-rit div.personal {
  background-color: #fff;
  margin-bottom: 10px;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
}
/* line 828, ../sass/personal.scss */
div.container-box div.cont-rit div.personal div.info {
  width: 100%;
  padding: 9px 16px;
}
/* line 832, ../sass/personal.scss */
div.container-box div.cont-rit div.personal div.info div.item {
  width: 31%;
  display: inline-block;
}
/* line 836, ../sass/personal.scss */
div.container-box div.cont-rit div.personal div.info div.item:not(:last-child) {
  border-right: 1px solid #d9d9d9;
}
/* line 840, ../sass/personal.scss */
div.container-box div.cont-rit div.personal div.info div.item a {
  text-decoration: none;
  outline: none;
}
/* line 844, ../sass/personal.scss */
div.container-box div.cont-rit div.personal div.info div.item a span {
  display: block;
  width: 100%;
  text-align: center;
}
/* line 849, ../sass/personal.scss */
div.container-box div.cont-rit div.personal div.info div.item a span.num {
  color: #333;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
/* line 856, ../sass/personal.scss */
div.container-box div.cont-rit div.personal div.info div.item a span.text {
  color: #808080;
  font-size: 12px;
  line-height: 14px;
}
/* line 865, ../sass/personal.scss */
div.container-box div.cont-rit div.personal div.info div.item a:hover span {
  color: #32a2d5;
}
/* line 874, ../sass/personal.scss */
div.container-box div.cont-rit div.per-info {
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 878, ../sass/personal.scss */
div.container-box div.cont-rit div.per-info span.head {
  display: block;
  width: 100%;
  height: 42px;
  font-size: 14px;
  line-height: 42px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #d9d9d9;
}
/* line 889, ../sass/personal.scss */
div.container-box div.cont-rit div.per-info ul.info-box {
  width: 100%;
  padding: 16px;
}
/* line 893, ../sass/personal.scss */
div.container-box div.cont-rit div.per-info ul.info-box li {
  font-size: 12px;
  color: #808080;
  width: 100%;
  line-height: 30px;
}
/* line 899, ../sass/personal.scss */
div.container-box div.cont-rit div.per-info ul.info-box li span.tit {
  letter-spacing: 10px;
  display: inline-block;
  width: 60px;
  vertical-align: top;
}
/* line 906, ../sass/personal.scss */
div.container-box div.cont-rit div.per-info ul.info-box li span.info {
  color: #333;
  display: inline-block;
  width: 225px;
}
/* line 914, ../sass/personal.scss */
div.container-box div.cont-rit div.per-info div.edit {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #d9d9d9;
}
/* line 920, ../sass/personal.scss */
div.container-box div.cont-rit div.per-info div.edit a.info-edit {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  color: #333;
  outline: none;
}
/* line 928, ../sass/personal.scss */
div.container-box div.cont-rit div.per-info div.edit a.info-edit:hover {
  color: #32a2d5;
}

/* line 937, ../sass/personal.scss */
a.to-top {
  display: block;
  text-decoration: none;
  outline: none;
  with: 45px;
  height: 45px;
  opacity: 0.6;
  bottom: 30px;
  right: 60px;
  position: fixed;
  background-color: #60a6c6;
}
/* line 949, ../sass/personal.scss */
a.to-top span.top-icon {
  color: #fff;
  display: block;
  font-size: 24px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  width: 45px;
}
/* line 959, ../sass/personal.scss */
a.to-top:hover {
  opacity: 1;
}
