<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公告</title>
    <link rel="stylesheet" type="text/css" href="/static/css/resources/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheets/login.css"/>
    <script type="text/javascript" src="/static/js/resources/jquery.min.js"></script>
    <script src="/static/js/resources/bootstrap.min.js"></script>
    <script src="/static/js/resources/bootstrapValidator.js"></script>
    <script type='text/javascript' src='/static/js/animation/jquery.particleground.min.js'></script>
    <script type='text/javascript' src='/static/js/animation/demo.js'></script>
</head>
<body>
<div class="container-box">

    <div class="header">
        <img src="/static/images/login/logo.png">
        <span class="logo-txt">SC Blog</span>
    </div>
    <div class="content notice-page" id="particles">
        <div class="notice-box">
            <h1>关于色情信息处置标准的公告</h1>

            <p>微博自诞生以来，一直致力于为用户构建健康、安全和绿色的生态环境，我们认为，这是用户体验最重要的组成部分。近期，用户针对色情
                信息的举报量明显增多，因此站方集中关闭了1100多个违规用户，处罚了5家违规模特公司，暂停了3家第三方视频应用的接口合作，并对
                处理结果进行了公示。</p>

            <p>此后，站方接到部分公司及用户关于色情信息处置标准的咨询。针对此类咨询，并结合目前微博里色情信息的传播特点和现阶段发现的问题，
                站方特向广大网友、企业组织和第三方机构明确对色情信息的处置原则：</p>

            <p>1、色情内容：以现行法律法规为依据，有关规定中明确禁止的露点图片、视频，以及直接表现性行为文字、音频内容；</p>

            <p>2、发布非色情类内容，但是通过暴露身体等引诱性的图片、音视频，将用户引导至其它第三方平台，进行线上线下的色情服务交易；</p>

            <p>3、通过“发福利”、“套图”等特定引申义的文字描述，将用户引导至其它第三方平台，进行线上线下的色情服务交易；</p>

            <p>即日起，站方将基于以上范围和标准加强对色情信息的处置，欢迎广大媒体、网友进行举报监督，共同维护微博秩序。</p>
        </div>
    </div>

    <div class="footer">
        <span>© 2016 SC Blog 版权所有</span>
    </div>
</div>


</body>