<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公告</title>
    <link rel="stylesheet" type="text/css" href="/static/css/resources/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheets/login.css"/>
    <script type="text/javascript" src="/static/js/resources/jquery.min.js"></script>
    <script src="/static/js/resources/bootstrap.min.js"></script>
    <script src="/static/js/resources/bootstrapValidator.js"></script>
    <script type='text/javascript' src='/static/js/animation/jquery.particleground.min.js'></script>
    <script type='text/javascript' src='/static/js/animation/demo.js'></script>
</head>
<body>
<div class="container-box">

    <div class="header">
        <a href="/">
            <img src="/static/images/login/logo.png">
            <span class="logo-txt">SC Blog</span>
        </a>
    </div>
    <div class="content notice-page" id="particles">
        <div class="notice-box">
            <h1>首都互联网协会发布坚守七条底线倡议书</h1>

            <p>千龙网北京讯 “网络名人社会责任论坛”于近日在京召开，众多网络管理者、网络名人齐聚一堂，共话网络社会责任，达成共识，共守“七条
                底线”：一是法律法规底线；二是社会主义制度底线；三是国家利益底线；四是公民合法权益底线；五是社会公共秩序底线；六是道德风尚
                底线；七是信息真实性底线。</p>
            <p>首都互联网协会据此向全行业、广大网民发出如下倡议：</p>
            <p>一、坚守“七条底线”。互联网行业、网络名人、广大普通网民，都要坚守“七条底线”，强化社会责任意识，积极承担社会责任，共同营造一个健康向上的网络环境。</p>
            <p>二、积极传播正能量。所有网站、网民都要积极传播正能量，网聚“中国梦”，引导全社会为实现中华民族的伟大复兴而奋斗。</p>
            <p>三、将互联网打造成传播社会主义先进文化的新阵地。各网站要坚持依法办网、诚信办网、文明办网、安全办网，承担主体责任，切实加强和改进网络内容建设，规范网络传播秩序，改善网络舆论生态。</p>
        </div>
    </div>

    <div class="footer">
        <span>© 2016 SC Blog 版权所有</span>
    </div>
</div>


</body>