<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
	<header th:include="common/header :: header(title = '人人贷-首页')"></header>
	<script></script>
</head>
<body>
<div class="banner" id="templatemo_banner_slide">
	<ul>
		<li class="templatemo_banner_slide_01">
			<div class="slide_caption">
				<h1>你想做众筹吗？加入我们是最好的捷径！</h1>
				<p>减少摸索时间！降低入门成本！大伙新投主流机制！你主投，我奖励！</p>
			</div>
		</li>
		<li class="templatemo_banner_slide_02">
			<div class="slide_caption">
				<h1>你想做众筹吗？加入我们是最好的捷径！</h1>
				<p>减少摸索时间！降低入门成本！大伙新投主流机制！你主投，我奖励！</p>
			</div>
		</li>
		<li class="templatemo_banner_slide_03">
			<div class="slide_caption">
				<h1>你想做众筹吗？加入我们是最好的捷径！</h1>
				<p>减少摸索时间！降低入门成本！大伙新投主流机制！你主投，我奖励！</p>
			</div>
		</li>
	</ul>
</div>

<div id="templatemo_mobile_menu">
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#templatemo_banner_slide">首页</a></li>
		<li><a href="#templatemo_about">关于</a></li>
		<li><a href="#templatemo_events">行业</a></li>
		<!--<li><a href="#templatemo_timeline">Timeline</a></li>-->
		<li><a href="#templatemo_contact">沟通</a></li>
		<li class="otherLink"><a th:href="@{/project}">项目</a></li>
		<li class="otherLink" th:if="${session.user==null}"><a th:href="@{/register}">注册</a></li>
		<li class="otherLink" th:if="${session.user!=null}"><a th:href="@{/userCenter}">用户</a></li>
		<li class="otherLink" th:if="${session.user==null}"><a th:href="@{/login}">登录</a></li>
		<li class="otherLink" th:unless="${session.user==null}"><a th:href="@{/addProject}">发布</a></li>
		<li class="otherLink" th:unless="${session.user==null}"><a th:href="@{/loginOut}">退出</a></li>
		<li th:if="${session.user}"><span th:text="'欢迎：' + ${session.user.getUsername()}"></span></li>
	</ul>
</div>
<div class="container_wapper">
	<div id="templatemo_banner_menu">
		<div class="container-fluid">
			<div class="col-xs-4 templatemo_logo">
				<a rel="nofollow" href="/">
					<img src="../static/images/templatemo_logo.jpg" id="logo_img" alt="dragonfruit free html5 template"/>
					<h1 id="logo_text">人人贷<span style="font-size: medium" th:if="${session.user}"
																			th:text="'欢迎：' + ${session.user.getUsername()}"></span></h1>
				</a>
			</div>
			<div class="col-sm-8 hidden-xs" id="templatemo_menu">
				<ul class="nav nav-justified">
					<li><a href="#templatemo_banner_slide">首页</a></li>
					<li><a href="#templatemo_about">关于</a></li>
					<li><a href="#templatemo_events">行业</a></li>
					<!--<li><a href="#templatemo_timeline">Timeline</a></li>-->
					<li><a href="#templatemo_contact">沟通</a></li>
					<li ><a class="otherLink" th:href="@{/project}">项目</a></li>
					<li th:if="${session.user==null}"><a class="otherLink" th:href="@{/register}">注册</a></li>
					<li th:if="${session.user!=null}"><a class="otherLink" th:href="@{/userCenter}">用户</a></li>
					<li th:if="${session.user==null}"><a class="otherLink" th:href="@{/login}">登录</a></li>
					<li th:unless="${session.user==null}"><a class="otherLink" th:href="@{/addProject}">发布</a></li>
					<li th:unless="${session.user==null}"><a class="otherLink" th:href="@{/loginOut}">退出</a></li>
				</ul>
			</div>
			<div class="col-xs-8 visible-xs">
				<a href="#" id="mobile_menu"><span class="glyphicon glyphicon-th-list"></span></a>
			</div>
		</div>
	</div>
</div>
<div id="templatemo_about" class="container_wapper">
	<div class="container-fluid">
		<h1>关于我们</h1>
		<div class="col-sm-6 col-md-3 about_icon">
			<div class="imgwap mission"><i class="fa fa-rocket"></i></div>
			<h2>筹资</h2>
			<p>筹资项目必须在发起人预设的时间内达到或超过目标金额才算成功。</p>
		</div>
		<div class="col-sm-6 col-md-3 about_icon">
			<div class="imgwap product"><i class="fa fa-cubes"></i></div>
			<h2>安全</h2>
			<p>我们保证筹资项目期间发起人、众筹人的资金安全。</p>
		</div>
		<div class="col-sm-6 col-md-3 about_icon">
			<div class="imgwap testimonial"><i class="fa fa-bar-chart-o"></i></div>
			<h2>更公允</h2>
			<p>项目方不必到处游说、求告，投融资双方更加平等、公允。</p>
		</div>
		<div class="col-sm-6 col-md-3 about_icon">
			<div class="imgwap statistic"><i class="fa fa-comments"></i></div>
			<h2>效率更高</h2>
			<p>项目一旦被认可，用时会大大缩减。而且按照标准化的格式填写众筹方案，无须大量、低效的邮发商业计划书。</p>
		</div>
		<div class="clearfix testimonial_top_bottom_spacer"></div>
		<div class="col-xs-1 pre_next_wap" id="prev_testimonial">
			<a href="#"><span class="glyphicon glyphicon-chevron-left pre_next"></span></a>
		</div>

		<div id="testimonial_text_wap" class="col-xs-9 col-sm-10">
			<div class="testimonial_text">
				<div class="col-sm-8">
					<img src="../static/images/project01.jpg" class="img-responsive"
							 alt="Business Development Manager"/>
				</div>
				<div class="col-sm-4">
					<h2>资金</h2>
					<h3>资金</h3>
					<p>成功众筹资金超过800W。</p>
				</div>
			</div><!--.testimonial_text-->
			<div class="testimonial_text">
				<div class="col-sm-8">
					<img src="../static/images/project02.jpg" class="img-responsive"
							 alt="Chief Public Relation Officer"/>
				</div>
				<div class="col-sm-4">
					<h2>人数</h2>
					<h3>人数</h3>
					<p>投资人超过200W。</p>
				</div>
			</div><!--.testimonial_text-->
			<div class="testimonial_text">
				<div class="col-sm-8">
					<img src="../static/images/project03.jpg" class="img-responsive" alt="Marketing Executive"/>
				</div>
				<div class="col-sm-4">
					<h2>项目</h2>
					<h3>项目</h3>
					<p>成功众筹项目达到200个。</p>
				</div>
			</div><!--.testimonial_text-->
			<div class="testimonial_text">
				<div class="col-sm-8">
					<img src="../static/images/project04.jpg" class="img-responsive" alt="Chief Executive Officer"/>
				</div>
				<div class="col-sm-4">
					<h2>单笔资金</h2>
					<h3>单笔资金</h3>
					<p>单笔项目最高众筹额22,000,000元。</p>
				</div>
			</div><!--.testimonial_text-->        </div><!--#testimonial_text_wap-->
		<div class="col-xs-1 pre_next_wap" id="next_testimonial">
			<a href="#"><span class="glyphicon glyphicon-chevron-right pre_next"></span></a>
		</div>
		<div class="clearfix testimonial_top_bottom_spacer"></div>
	</div>
</div><!--templatemo_about-->
<div id="templatemo_events" class="container_wapper">
	<div class="container-fluid">
		<h1>行业类别</h1>
		<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
			<div class="event_box_wap event_animate_left">
				<div class="event_box_img">
					<img src="../static/images/project2.jpg" class="img-responsive" alt="Web Design Trends"/>
				</div>
				<div class="event_box_caption">
					<h1>美食</h1>
					<p><span class="glyphicon hide"></p>
					<p>我们致力于帮助创业者创造各式各样的美食餐厅、甜品小吃店！</p>
				</div>
			</div>
		</div>
		<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
			<div class="event_box_wap event_animate_right">
				<div class="event_box_img">
					<img src="../static/images/project4.jpg" class="img-responsive" alt="Free Bootstrap Seminar"/>
				</div>
				<div class="event_box_caption">
					<h1>休闲娱乐</h1>
					<p><span class="glyphicon hide"></p>
					<p>你可以从这里创造或帮助一个制造快乐、幸福、魅力无限的地方！</p>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
			<div class="event_box_wap event_animate_left">
				<div class="event_box_img">
					<img src="../static/images/project6.jpg" class="img-responsive" alt=""/>
				</div>
				<div class="event_box_caption">
					<h1>生活服务</h1>
					<p><span class="glyphicon hide"></p>
					<p>引领时尚生活，创造品质服务，打造超凡脱俗的气质生活。</p>
				</div>
			</div>
		</div>
		<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">
			<div class="event_box_wap event_animate_right">
				<div class="event_box_img">
					<img src="../static/images/project3.jpg" class="img-responsive" alt=""/>
				</div>
				<div class="event_box_caption">
					<h1>教育培训</h1>
					<p><span class="glyphicon hide"></p>
					<p>集最好的教育在这里，一起为孩子们创造一个无限美好的未来。</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!--<div id="templatemo_timeline" class="container_wapper">-->
<!--<h1>Timeline</h1>-->
<!--<div class="container-fluid">-->
<!--<div class="time_line_wap">-->
<!--<div class="time_line_caption">10 days ago</div>-->
<!--<div class="time_line_paragraph">-->
<!--<h1>Lorem ipsum dolor sit amet</h1>-->
<!--<p>-->
<!--<span class="glyphicon glyphicon-user"></span> <a href="#">George</a> &nbsp;&nbsp;-->
<!--<span class="glyphicon glyphicon-bookmark"></span> <a href="#">Web Design</a>, <a href="#">Responsive</a> &nbsp;&nbsp;-->
<!--<span class="glyphicon glyphicon-edit"></span> <a href="#">3 comments</a>-->
<!--</p>-->
<!--<p>Aliquam adipiscing nibh sem, vitae aliquet ipsum rutrum nec. Nulla nec fermentum libero. Duis quis fermentum libero. Nunc facilisis ultrices fringilla. Nullam sed ligula ac libero venenatis pellentesque vitae nec mauris.</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="time_line_wap">-->
<!--<div class="time_line_caption">2 weeks ago</div>-->
<!--<div class="time_line_paragraph">-->
<!--<h1>Excepteur sint occaecat cupidatat</h1>-->
<!--<p>-->
<!--<span class="glyphicon glyphicon-user"></span> <a href="#">Kyor Kyor</a> &nbsp;&nbsp;-->
<!--<span class="glyphicon glyphicon-bookmark"></span> <a href="#">HTML5</a>, <a href="#">Mobile</a> &nbsp;&nbsp;-->
<!--<span class="glyphicon glyphicon-edit"></span> <a href="#">2 comments</a>-->
<!--</p>-->
<!--<p>Vestibulum pellentesque leo mi, non adipiscing odio tristique in. Aliquam suscipit magna nisi, non dapibus purus cursus in. Sed vitae quam bibendum mauris vehicula pretium. Curabitur ac ornare magna. Vestibulum dapibus dolor porttitor urna pretium euismod. Aliquam lobortis enim at lacinia mollis.</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="time_line_wap">-->
<!--<div class="time_line_caption">one month ago</div>-->
<!--<div class="time_line_paragraph">-->
<!--<h1>Doloremque laudantium</h1>-->
<!--<p>-->
<!--<span class="glyphicon glyphicon-user"></span> <a href="#">Cooker</a> &nbsp;&nbsp;-->
<!--<span class="glyphicon glyphicon-bookmark"></span> <a href="#">Web Design</a>, <a href="#">CSS3</a> &nbsp;&nbsp;-->
<!--<span class="glyphicon glyphicon-edit"></span> <a href="#">3 comments</a>-->
<!--</p>-->
<!--<p>Fusce feugiat sem dolor. Curabitur a consectetur quam. Maecenas ut purus rutrum, bibendum eros eu, suscipit diam. Praesent semper bibendum gravida. Praesent eget leo ac arcu aliquet pellentesque sit amet at tortor. Cras sagittis nec tellus nec imperdiet.</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="time_line_wap">-->
<!--<div class="time_line_caption">15 May 2084</div>-->
<!--<div class="time_line_paragraph">-->
<!--<h1>Neque porro quisquam</h1>-->
<!--<p>-->
<!--<span class="glyphicon glyphicon-user"></span> <a href="#">Brain</a> &nbsp;&nbsp;-->
<!--<span class="glyphicon glyphicon-bookmark"></span> <a href="#">HTML5</a>, <a href="#">Animation</a> &nbsp;&nbsp;-->
<!--<span class="glyphicon glyphicon-edit"></span> <a href="#">6 comments</a>-->
<!--</p>-->
<!--<p>Ut varius nibh adipiscing sagittis lobortis. Sed imperdiet risus enim, sit amet tempus nisi lobortis a. Etiam in gravida leo, non interdum sapien. Sed mi odio, pharetra at tellus ac, adipiscing pulvinar dolor. Nulla quis suscipit urna. Integer congue non nunc a luctus.</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="time_line_wap">-->
<!--<div class="time_line_caption">20 April 2084</div>-->
<!--<div class="time_line_paragraph">-->
<!--<h1>Sed do eiusmod tempor</h1>-->
<!--<p>-->
<!--<span class="glyphicon glyphicon-user"></span> <a href="#">John West</a> &nbsp;&nbsp;-->
<!--<span class="glyphicon glyphicon-bookmark"></span> <a href="#">3D Effect</a>, <a href="#">CSS3</a> &nbsp;&nbsp;-->
<!--<span class="glyphicon glyphicon-edit"></span> <a href="#">4 comments</a>-->
<!--</p>-->
<!--<p>Maecenas in ipsum pulvinar, dapibus leo ut, adipiscing neque. Phasellus tincidunt arcu eleifend placerat posuere. Nullam nec eros in leo facilisis blandit id in neque. Proin varius, neque in eleifend porta, neque arcu dapibus risus, vel congue ante nibh varius nisi.</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="time_line_wap">-->
<!--<div class="time_line_caption">5 April 2084</div>-->
<!--<div class="time_line_paragraph">-->
<!--<h1>Ut enim ad minim veniam</h1>-->
<!--<p>-->
<!--<span class="glyphicon glyphicon-user"></span> <a href="#">Moon Plus</a> &nbsp;&nbsp;-->
<!--<span class="glyphicon glyphicon-bookmark"></span> <a href="#">Web Design</a>, <a href="#">Responsive</a> &nbsp;&nbsp;-->
<!--<span class="glyphicon glyphicon-edit"></span> <a href="#">5 comments</a>-->
<!--</p>-->
<!--<p>Duis lacinia leo erat, eu tincidunt mauris congue ut. Ut auctor turpis a sapien commodo, ac ultrices dui vehicula. Etiam in tristique felis. Sed eleifend turpis sed purus venenatis fringilla. <br><br> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vel sollicitudin eros, vel vulputate leo.</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div id="templatemo_contact" class="container_wapper">
	<div class="container-fluid text-center col-sm-4 col-md-8 col-lg-12">
		<h1>联系我们</h1>
		<!--<div class="col-xs-12">-->
		<!--<div id="templatemo_contact_map"></div>-->
		<!--</div>-->
		<div class="col-sm-4 col-md-8 col-lg-12">
			<!--<h2>联系方式：</h2>-->
			<!--<p>请尽快联系我们</p>-->
			<p><strong>联系电话:</strong> 13276490778<br/><strong>Email:</strong> 870486457@qq.com<br/><strong>网站:</strong>
				www.1109.com<br/><strong>地址:</strong> 山东财经大学一号宿舍楼</p>
		</div>
	</div>
</div>
<div id="templatemo_footer" th:include="common/footer :: footer"></div>
<button id="startResult" class="btn hide" data-toggle="modal" data-target="#myModal">
</button>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		 aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">×
				</button>
				<h4 class="modal-title" id="myModalLabel">
					操作信息
				</h4>
			</div>
			<div class="modal-body text-center">
				<h3 id="result" th:text="${result}"></h3>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary"
								data-dismiss="modal">确定
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="../static/js/templatemo_script.js"></script>

</body>
</html>