@import "layout";

div.container-box {
  width: 100%;

  div.header {
    width: 100%;
    height: 88px;
    padding: 10px 30px 0;
    vertical-align: middle;

    img {
      width: 70px;
      height: 70px;
      display: inline-block;
    }

    span.logo-txt {
      color: #666;
      display: inline-block;
      font-size: 20px;
      line-height: 40px;
      vertical-align: bottom;
    }
  }

  div.content {
    width: 100%;
    height: 600px;
    position: relative;
    background: url("../../images/login/login_backg.jpg") no-repeat center center;

    div.login-box {
      position: absolute;
      right: 60px;
      top: 120px;
      width: 350px;
      padding: 15px 25px 30px;
      color: #6c6c6c;
      font-family: Microsoft YaHei;
      background-color: rgba(255, 255, 255, 0.9);

      span.tit-text {
        color: #3c3c3c;
        display: block;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        margin: 9px 0;
        padding-bottom: 8px;
        text-align: center;
      }

      div.input-box {
        width: 100%;

        div.form-group {
          margin-top: 20px;
          width: 100%;
          height: 42px;
          position: relative;

          img {
            width: 40px;
            height: 40px;
            position: absolute;
          }

          label {
            width: 60px;
          }

          label.password-again {
            padding: 7px 0;
          }

          div.col-sm-10 {
            width: 240px;

            input {
              font-size: 14px;
              height: 40px;
              line-height: 18px;
              padding: 11px;
              border: 1px solid #ddd;
              width: 100%;
            }
          }
        }
      }

      button.login-btn {
        background: #f40 none repeat scroll 0 0;
        border: 0 none;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 18px;
        font-weight: 700;
        height: 38px;
        line-height: 26px;
        overflow: hidden;
        vertical-align: middle;
        width: 210px;
        margin: 20px 0 20px 60px;
        letter-spacing: 10px;
      }

      a.register-link {
        color: #6c6c6c;
        text-decoration: none;
        :hover {
          color: #f40;
        }
        span.register {
          display: block;
          font-size: 12px;
          line-height: 14px;
          float: right;
          margin-right: 30px;
        }
      }

    }

    div.login-box.register-box {
      top: 25px;

      div.input-box {

        div.box-item {

          span {
            font-size: 13px;
            line-height: 40px;
          }

          input.text {
            padding: 11px 27px 11px 11px;
            width: 255px;
            position: absolute;
            right: 0;
          }

          input.sex {
            display: inline-block;
            width: 20px;
            height: 17px;
            margin: 0 0 0 30px;
            vertical-align: middle;
          }

        }

        div.box-item.password-again {

          span {
            position: absolute;
            left: -20px;
          }
        }

        div.box-item.sex, div.box-item.phone {
          margin-top: 10px;
        }
      }
    }
  }

  div.footer {
    text-align: center;
    margin: 30px auto;

    span {
      display: block;
      color: #9c9c9c;
      font-size: 12px;
    }
  }
}